@charset "UTF-8";
/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*geral*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-color: #A6A197;
    --color-header: #F2E527;
    --register-color: #D9B504;
    --modal-color: #735702;
    --font-logo: 'Acme', sans-serif;
    --font-main: 'Exo', sans-serif;
}

/*Header*/

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: var(--color-header);
    height: 110px;
}

header div h1{
    font-family: var(--font-logo);
    font-size: 60px;

}

header nav{
    width: 100%;
}

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: right;
    list-style: none;
    
}

header nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
}

/*Main*/

main{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 110px);
}


main div.container{
    width: 95%;
    background-color: var(--register-color);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register{
    width: 100%;
    text-align: center;
}

.register tr{
    display: flex;
    width: 100%;
}

.register tr th, .register tr td{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button{
    margin: 5px;
    padding: 5px;
    font-weight: 600;
    font-family: var(--font-main);
    border: 1px solid black;
    border-radius: 10px;
    color: white;
}

.register tr td button:first-child{
    background-color: blue;
}

.register tr td button:last-child{
    background-color: red;
}

#createRegistro{
    background-color: green;
}


/*Modal*/

.modal-register{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--modal-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 25px 0px 20px 20px;
    z-index: 99999;
}

.modal-register h2{
    text-transform: uppercase;
    margin: 8px;
}


.modal-row{
    display: flex;
    flex-direction: row;
}

.modal-row div{
    display: flex;
    flex-direction: column;
}

.modal-row div input{
    margin-right: 8px;
    
}

